<div class="container">
    <h1>About</h1>
    <p>Messenger App is specilized to allow people to communicate each other by text message.</p>
    <p>You must login in order to chat with other people.</p>
    <p>Messenger App is not free. You must pay some money to chat. If your wallet is empty,
        you won't be able to chat. To be able to chat, you must buy messages.
    </p>
    <p>By default every user will be provided 2 messages. That means user has 
        only 2 messages to send.
        We bonus each user with 2 messages when user signup for the first time.
    </p>
    <p>Messenger App inc..</p>
    <p>&copy 2018</p>
</div>