<div class="container">
    <h1>Welcome</h1>
    <h3>
        <a href="/auth/facebook">
        <button class="btn btn-primary">Login With Facebook</button>
        </a>
    </h3>
    <h3>
        <a href="/auth/google">
        <button class="btn btn-info">Login With Google</button></a>
    </h3>
</div>