<div class="container">
    <h3>Payment success!</h3>
    <p>Payment has been successfully received.</p>
    <p>Thank you for your payment</p>
    <a href="/users"><button class="btn btn-success">Start Chat</button></a>
</div>